<!DOCTYPE html>
<html lang="en" class="bg-gbl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Hasan Genc, software developer and student"/>
  <meta property="og:site_name" content="Hasan Genc - Hasangenc.ml" />
  <meta property="og:title" content="Hasan Genc" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="img/logo.png" />
  <meta property="og:image:width" content="220" />
  <meta property="og:image:height" content="900" />
  <meta property="og:description" content="Hasan Genc, software developer and student." />
  <meta property="og:url" content="https://hasangenc.ml/cv" />
  <link rel="shortcut icon" href="img/logo.png">
  <title>Hasan Genc</title>
  <script src="js/cv/inject_styles.js"></script>
  <script src="js/cv/cv.js" defer></script>
</head>
<body class="container mx-auto px-4 text-white antialiased">
    <section class="flex">
      <aside class="container py-8 w-sidebar">
        <nav>
          <header>
            <figure>
              <img class="w-16 h-16 rounded-full" alt="my_photo" src="img/pp.jpg"/>
            </figure>
            <h3 class="mt-3 text-3xl">Hasan Genc</h3>
            <section class="text-sm">
              <%= Math.abs(new Date((Date.now() - new Date("06-03-1999"))).getUTCFullYear() -  1970); %> years
              <span class="text-lbl">/</span>
              Istanbul
             </section>
          </header>
          <ul class="sideBar">
            <li data-content="#about">About</li>
            <li data-content="#experience">Experience</li>
            <li data-content="#works">Works</li>
            <li data-content="#contact">Contact</li>
          </ul>
          <footer class="my-4 flex items-center sideFooter">
            <a target="_blank" href="https://github.com/hasangenc0"><img src="img/github.svg"/></a>
            <a target="_blank" href="https://www.linkedin.com/in/hasangenc0"><img src="img/linkedin.svg"/></a>
            <a target="_blank" href="mailto:hasangenc.istanbul@gmail.com"><img style="margin-top: 0.2rem;" src="img/gmail.svg"/></a>
          </footer>
          <footer class="text-sm">Hasan Genc &copy; <time><%= new Date().getFullYear() %></time></footer>
        </nav>
      </aside>
      <main class="content relative container w-content">
        <article id="about">
          <h1 class="mb-4 text-5xl font-bold">HELLO,</h1>
          <p>I am Hasan, software developer and computer engineering student from Istanbul, Turkey. I have rich experience in web application development, also I am interested about philosophy, music and artificial intelligence.</p>
        </article>
        <article id="experience" class="hidden mt-16">
          <h1 class="mb-4 text-5xl font-bold">Experience</h1>
          <section>
            <header class="text-lbl text-2xl font-bold">
              <a target="_blank" href="https://trendyol.com">Trendyol Group</a>
            </header>
            <pre class="text-sm"><time>06/2019</time> - <time>Present</time></pre>
            <details>
              <summary>I'm working trendyol web team.</summary>
              <ul class="list-disc list-inside text-sm">
                <li>
                  Developing and maintaining <a target="_blank" class="text-lbl" href="https://trendyol.com">trendyol.com</a>
                </li>
                <li>Optimizing both front-end and back-end performance</li>
                <li>Building applications with micro-service and micro-frontend architectures</li>
                <li>Working on code optimization and ui enhancements</li>
              </ul>
              <section class="techStack">
                <code>Node</code>
                <code>React</code>
                <code>Angular</code>
                <code>.NET</code>
                <code>Java</code>
                <code>Golang</code>
              </section>
            </details>
          </section>
          <section>
            <header class="text-lbl text-2xl font-bold">
              <a target="_blank" href="https://bilet.com">Digital Trade</a>
            </header>
            <pre class="text-sm"><time>01/2018</time> - <time>06/2019</time></pre>
            <details>
              <summary>I worked on <a target="_blank" class="text-lbl" href="https://bilet.com">bilet.com</a>.</summary>
              <ul class="list-disc list-inside text-sm">
                <li>Developed and maintaining web, mweb, ios and android applications</li>
                <li>Built qr code scanner for box-offices in Turkey</li>
                <li>Created REST APIs</li>
                <li>Built ticket marketplace</li>
                <li>Wrote automation tests using <code>Selenium</code></li>
              </ul>
              <section class="techStack">
                <code>PHP</code>
                <code>Python</code>
                <code>Selenium</code>
                <code>Kotlin</code>
                <code>Swift</code>
                <code>MySql</code>
                <code>JavaScript</code>
              </section>
            </details>
          </section>
        </article>
        <article id="works" class="hidden">
          <h1 class="mb-4 text-5xl font-bold">Works</h1>
          <p>
            <a class="text-lbl font-bold" target="_blank" href="https://github.com/hasangenc0">See</a> my open source works
          </p>
        </article>
        <article id="contact" class="hidden">
          <h1 class="mb-4 text-5xl font-bold">Contact</h1>
          <p>
            Feel free to <a target="_blank" class="text-lbl" href="mailto:hasangenc.istanbul@gmail.com">throw me an email</a>.
          </p>
        </article>
      </main>
    </section>
</body>
</html>