<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="description" content="Welcome to My personel website. You can contact with me from linkedin." />
    <meta property="og:site_name" content="Hasan Genc - Hasangenc.ml" />
    <meta property="og:title" content="Hasan Genc - Personal Web Site" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="img/logo.png" />
    <meta property="og:image:width" content="220" />
    <meta property="og:image:height" content="341" />
    <meta property="og:description" content="Welcome to my personal web site." />
    <meta property="og:url" content="https://hasangenc.ml" />
    <title>Hasan Genc</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="img/logo.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125019289-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-125019289-1');
    </script>
</head>