/* Head of Style imports */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* End of Style imports */
html {
  margin: 0; }

body {
  margin: 0;
  height: 100%;
  background: black;
  /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0.48), rgba(13, 59, 226, 0.56)),url("../img/bg.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; }

#main {
  height: 100%;
  display: flex;
  justify-content: center; }

#center {
  color: white;
  margin: 20vh auto;
  width: 50vw; }

#name-header {
  font-size: 2.8em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.65rem; }

#personal-info {
  color: white;
  font-size: 1.2em;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.50rem; }

#contact {
  display: flex;
  justify-content: center; }

#contact a {
  z-index: 1; }

.particles-js-canvas-el {
  position: fixed; }

.welcomeAnimation {
  animation: shadowanimations 10s linear infinite; }

.welcomeAnimWord {
  animation: wordanimations 2s linear 1; }

@keyframes shadowanimations {
  5% {
    background: #000019; }
  10% {
    background: #000032; }
  15% {
    background: #00004b; }
  20% {
    background: #000064; }
  25% {
    background: #00007d; }
  30% {
    background: #000096; }
  35% {
    background: #0000af; }
  40% {
    background: #0000c8; }
  45% {
    background: #0000e1; }
  50% {
    background: #0000fa; }
  55% {
    background: #0000e1; }
  60% {
    background: #0000c8; }
  65% {
    background: #0000af; }
  70% {
    background: #000096; }
  75% {
    background: #00007d; }
  80% {
    background: #000064; }
  85% {
    background: #00004b; }
  90% {
    background: #000032; }
  95% {
    background: #000019; }
  100% {
    background: black; } }

@keyframes wordanimations {
  5% {
    opacity: 0.1; }
  10% {
    opacity: 0.2; }
  15% {
    opacity: 0.3; }
  20% {
    opacity: 0.4; }
  25% {
    opacity: 0.5; }
  30% {
    opacity: 0.6; }
  35% {
    opacity: 0.7; }
  40% {
    opacity: 0.8; }
  45% {
    opacity: 0.9; }
  50% {
    opacity: 1; } }

hr {
  animation: hrAnimation 2s ease-in-out 1; }

@keyframes hrAnimation {
  1% {
    width: 1%; }
  2% {
    width: 2%; }
  3% {
    width: 3%; }
  4% {
    width: 4%; }
  5% {
    width: 5%; }
  6% {
    width: 6%; }
  7% {
    width: 7%; }
  8% {
    width: 8%; }
  9% {
    width: 9%; }
  10% {
    width: 10%; }
  11% {
    width: 11%; }
  12% {
    width: 12%; }
  13% {
    width: 13%; }
  14% {
    width: 14%; }
  15% {
    width: 15%; }
  16% {
    width: 16%; }
  17% {
    width: 17%; }
  18% {
    width: 18%; }
  19% {
    width: 19%; }
  20% {
    width: 20%; }
  21% {
    width: 21%; }
  22% {
    width: 22%; }
  23% {
    width: 23%; }
  24% {
    width: 24%; }
  25% {
    width: 25%; }
  26% {
    width: 26%; }
  27% {
    width: 27%; }
  28% {
    width: 28%; }
  29% {
    width: 29%; }
  30% {
    width: 30%; }
  31% {
    width: 31%; }
  32% {
    width: 32%; }
  33% {
    width: 33%; }
  34% {
    width: 34%; }
  35% {
    width: 35%; }
  36% {
    width: 36%; }
  37% {
    width: 37%; }
  38% {
    width: 38%; }
  39% {
    width: 39%; }
  40% {
    width: 40%; }
  41% {
    width: 41%; }
  42% {
    width: 42%; }
  43% {
    width: 43%; }
  44% {
    width: 44%; }
  45% {
    width: 45%; }
  46% {
    width: 46%; }
  47% {
    width: 47%; }
  48% {
    width: 48%; }
  49% {
    width: 49%; }
  50% {
    width: 50%; }
  51% {
    width: 51%; }
  52% {
    width: 52%; }
  53% {
    width: 53%; }
  54% {
    width: 54%; }
  55% {
    width: 55%; }
  56% {
    width: 56%; }
  57% {
    width: 57%; }
  58% {
    width: 58%; }
  59% {
    width: 59%; }
  60% {
    width: 60%; }
  61% {
    width: 61%; }
  62% {
    width: 62%; }
  63% {
    width: 63%; }
  64% {
    width: 64%; }
  65% {
    width: 65%; }
  66% {
    width: 66%; }
  67% {
    width: 67%; }
  68% {
    width: 68%; }
  69% {
    width: 69%; }
  70% {
    width: 70%; }
  71% {
    width: 71%; }
  72% {
    width: 72%; }
  73% {
    width: 73%; }
  74% {
    width: 74%; }
  75% {
    width: 75%; }
  76% {
    width: 76%; }
  77% {
    width: 77%; }
  78% {
    width: 78%; }
  79% {
    width: 79%; }
  80% {
    width: 80%; }
  81% {
    width: 81%; }
  82% {
    width: 82%; }
  83% {
    width: 83%; }
  84% {
    width: 84%; }
  85% {
    width: 85%; }
  86% {
    width: 86%; }
  87% {
    width: 87%; }
  88% {
    width: 88%; }
  89% {
    width: 89%; }
  90% {
    width: 90%; }
  91% {
    width: 91%; }
  92% {
    width: 92%; }
  93% {
    width: 93%; }
  94% {
    width: 94%; }
  95% {
    width: 95%; }
  96% {
    width: 96%; }
  97% {
    width: 97%; }
  98% {
    width: 98%; }
  99% {
    width: 99%; } }

@media only screen and (max-width: 320px) {
  #name-header {
    font-size: 6.8vw; }
  #personal-info {
    font-size: 4.8vw; } }
