<!DOCTYPE HTML5>
<html>
<% include partials/head %>
<body>
  <div id="main">
    <div id="center">
      <h1 id="name-header">Hasan Genc</h1>
      <hr>
      <h3 id="personal-info">Software Engineer</h3>
      <div id="contact">
        <a href="https://www.linkedin.com/in/hasangenc0/">
          <% include partials/svg/linkedin %>
        </a>
      </div>
    </div>
  </div>
  <script src="/__/firebase/7.6.0/firebase-app.js"></script>
  <script src="/__/firebase/init.js"></script>
</body>
<% include partials/js %>
</script>