/* Head of Style imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* End of Style imports */

html{
  margin: 0;
}
body{
  margin: 0;
  height: 100%;
  background: black;
  /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0.48), rgba(13, 59, 226, 0.56)),url("../img/bg.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}
#main {
  height: 100%;
  display: flex;
  justify-content: center;
}
#center {
  color:white;
  margin: 20vh auto;
  width: 50vw;
}
#name-header {
  font-size : 2.8em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.65rem;
}

#personal-info{
  color:white;
  font-size: 1.2em;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.50rem;

}
#contact{
  display: flex;
  justify-content: center;
}
#contact a {
  z-index: 1;
}
.particles-js-canvas-el{
  position: fixed;
}
.welcomeAnimation {
  animation:shadowanimations 10s linear infinite;
}
.welcomeAnimWord{
  animation: wordanimations 2s linear 1;
}

@keyframes shadowanimations{
  @for $i from 1 to 11 {
    #{$i * 5%} {
      background: rgb(0,  0, $i * 25);
    }
  }
  @for $i from 1 to 11 {
    #{50 + $i * 5%} {
      background: rgb(0,  0,  250 - $i*25);
    }
  }
}

@keyframes wordanimations{
  @for $i from 1 to 11 {
    #{$i * 5%} {
      opacity: $i*0.1;
    }
  }
}
hr {
  animation: hrAnimation 2s ease-in-out 1;
}
@keyframes hrAnimation{
  @for $i from 1 to 100 {
    #{$i * 1%} {
      width: $i*1%;
    }
  }
}

@media only screen and (max-width: 320px) {
  #name-header {
    font-size: 6.8vw;
  }
  #personal-info {
    font-size: 4.8vw;
  }
}