@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.sideBar {
  @apply list-none font-bold text-lbl;
}
.sideBar > li {
  @apply my-3 cursor-pointer;
}
.sideFooter a img {
  @apply w-4 h-5 mr-3;
}
.content > article {
  @apply m-0 absolute;
  top: 50%;
  transform: translateY(-50%);
}
.content > #experience {
  transform: none;
  position: unset;
  @apply mt-16;
}
.techStack {
  @apply my-3
}
.techStack code {
  @apply px-3 py-1 text-orange-600;
}